/* styles.css */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: #0f0f0f;
    --gold: rgb(226, 201, 55);
    --wine: #d84f5f;
    --soft-ivory: #f8f5f0;
    --overlay: rgba(0, 0, 0, 0.6);

    --font-body: "Montserrat", sans-serif;
    --font-display: "Playfair Display", serif;
}

body {
    background-color: var(--bg-dark);
    color: white;
    font-family: var(--font-body);

    background: linear-gradient(rgba(5, 8, 20, 0.1), rgba(5, 8, 20, 0.4)), url('../images/luxury-diner.png') center/cover no-repeat fixed;

    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2.8rem;
    background: var(--overlay);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}


.nav-brand {
    font-family: var(--font-display);
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
    font-style: italic;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-left:hover .nav-brand {
    color: var(--gold);
}

nav button {
    position: relative;

    background: none;
    border: none;
    color: white;
    margin-left: 1.25rem;

    font-size: 1rem;
    font-family: var(--font-body);

    padding-bottom: 4px;

    cursor: pointer;
    transition: color 0.3s ease;
}

nav button:hover {
    color: var(--gold);
}

nav button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 0%;
    height: 1px;

    background: var(--gold);

    transition: width 0.4s ease;
}

nav button:hover::after {
    width: 100%;
}


#content {
    text-align: center;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    position: relative;
    z-index: 2;
}


.logo {
    font-family: var(--font-display);
    font-style: italic;
    font-size: 2.8rem;
    letter-spacing: 0.25rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    transition: color 0.3s ease;
    text-shadow: 0 4px 20px var(--overlay);
}


.classy-text {
    font-size: 1.35rem;
    font-style: italic;
    letter-spacing: 0.178rem;
    word-spacing: 0.25rem;
    color: var(--gold);
    margin-top: 0.65rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 10px var(--overlay);
}


.logo:hover {
    color: var(--gold);
}

.reserveBtn {
    font-family: var(--font-body);
    padding: 1rem 3rem;
    font-size: 1.19rem;
    font-weight: 550;
    letter-spacing: 0.12rem;
    word-spacing: 0.1rem;
    color: white;
    background: transparent;
    border: 2px solid var(--gold);
    cursor: pointer;
    transition: all 0.4s ease;
    text-transform: uppercase;
}

.reserveBtn:hover {
    background: var(--gold);
    color: #0f0f0f;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(212, 175, 55, 0.3);
}


/* menu.js */

.menu-section {
    width: 100%;
    margin: 4rem 0;
}

.menu-section h1 {
    font-family: var(--font-display); 
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 0.15rem;
    color: var(--gold);
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.menu-item {
    display: flex;
    gap: 1.6rem;
    align-items: center;

    background: var(--overlay);
    border: 1px solid rgba(212, 175, 55, 0.2);
    padding: 1.5rem;
    border-radius: 0.5rem;

    max-width: 500px;
    width: 100%;

    transition: all 0.3s ease;
}


.menu-item img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
}

.menu-text {
    width: 60%;
    text-align: left;
}

.menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.menu-top h2 {
    font-family: var(--font-display);
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
}

.menu-top span {
    color: var(--wine);
    font-weight: 500;
    font-size: larger;
}

.menu-text p {
    font-family: var(--font-body);
    font-size: 0.95rem;
    opacity: 0.85;
    line-height: 1.4;
}

.menu-item:hover {
    transform: translateY(-0.3rem);
    border-color: var(--gold);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* about.js */

.about-wrapper {
    max-width: 700px;
    text-align: center;
    margin-top: 6rem;
    line-height: 1.7;
}

.about-hero {
    font-family: var(--font-display);
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: 2.5rem;
    color: var(--gold);
    letter-spacing: 0.1rem;
}


.about-wrapper p {
    font-family: var(--font-body);
    font-size: 1rem;
    opacity: 0.85;
    margin-bottom: 1.8rem;

    color: white;
    font-weight: 400;
}

.about-wrapper .about-signature {
    font-family: var(--font-display);
    font-style: italic;
    margin-top: 3rem;
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--wine);
}

.about-wrapper::after {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    margin: 3rem auto 0;

    background: url('../images/black-swan-logo.svg') center/contain no-repeat;
    opacity: 0.08;
}


/* contact.js */

.contact-wrapper {
    max-width: 500px;
    width: 100%;
    margin-top: 6rem;
    text-align: center;
}

.contact-wrapper h1 {
    font-family: var(--font-display);
    font-size: 2.2rem;
    color: var(--gold);
    margin-bottom: 1rem;
}

.contact-wrapper p {
    opacity: 0.8;
    margin-bottom: 2rem;
}

.contact-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-wrapper input,
.contact-wrapper textarea {
    background: transparent;
    border: 1px solid rgba(212, 175, 55, 0.3);
    padding: 0.8rem;
    color: white;
    font-family: var(--font-body);

    transition: border 0.3s ease;
}

.contact-wrapper input:focus,
.contact-wrapper textarea:focus {
    outline: none;
    border-color: var(--gold);
}

.contact-wrapper ::placeholder {
    font-weight: 200;   
    opacity: 1;         
    color: var(--soft-ivory);     
}

.contact-wrapper button {
    margin-top: 1rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--gold);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-wrapper button:hover {
    background: var(--gold);
    color: black;
}